body,
html {
 height: 100%;
 background: url("https://i1376.photobucket.com/albums/ah28/UgoHarry/field-wallpaper_zpswwbncu3u.jpg") no-repeat center;
 background-size:cover;
}

h2 {
 font-size:60px;
}

h3 {
 font-size:30px;
}

.container {
  height:100%;
  font-family: 'Josefin Sans', sans-serif;
  color:#ffffff;
}

.banner {
 padding-top: 70px;
 text-align: center;
 text-decoration: underline;
 font-family: 'Josefin Sans', sans-serif;
 color:#ffffff;
 padding-bottom: 20px;
}

.display {
 text-align: center;
}

.locTemp {
  .locTemp-details {
    #locTemp-number {
      font-size:100px;
      display: inline;
    }
    span {
      vertical-align: top;
      font-size: 29px;
    }
  }
  #locTemp-desc {
  display: inline;
}
  #locTemp-icon {
    display: inline;
  }
  .forecastTitle {
    text-align: left;
    background: rgba(0,0,0, 0.25);
    padding: 5px;
    border-bottom: #fff 1px solid;
  }
  .forecastDays{
    width: 100%;
    background:rgba(0,0,0, 0.25);
    li {
      display: inline-block;
      width: 18%;
      p {
        padding: 5px 5px;
      }
      .degSuper{
        vertical-align: super;
        font-size: 70%;
      }
      .dailyTempH, .dailyTempL {
        display: inline-block;
      }
      .dailyTempH {
        font-size: 135%;
        font-weight: bolder;
      }
    }
  }
}

/******UNIT TOGGLE******/
.toggle {
  bottom: 29px;
}
.toggle-on,.toggle-off {
  line-height:55px;
  font-size: 40px;
}
